<h1>All talks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{{talks}}}
  </tbody>
</table>

<br>

{{#create_new_talk}}
  <a href="{{new_talk_path}}">New Talk</a>
{{/create_new_talk}}
