<tr>
  <td>{{speaker_name}}</td>
  <td><a href="{{path}}">{{title}}</td>
  <td><a href="{{edit_path}}">Edit</a></td>
  <td><a href="{{path}}" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Destroy</a>
</tr>
