<div class="span2">
  {{{user_avatar}}}
</div>
<div class="span6">
  <dl>
    <dt>Name:</dt>
    <dd>{{name}}</dd>
    <dt>Email:</dt>
    <dd>{{email}}</dd>
    <dt>About me:</dt>
    <dd>{{about_me}}</dd>
  </dl>

  {{#edit}}
    <a href="{{edit_path}}">Edit</a> |
  {{/edit}}

  <a href="{{go_back_path}}">Back</a>
</div>
