{{#any_errors}}
<div id="error_explanation">
  <h3>{{error_count}} prohibited this {{name}} from being saved:</h3>

  <ul>
    {{#error_messages}}
    <li>{{msg}}</li>
    {{/error_messages}}
  </ul>
</div>
{{/any_errors}}
