<div class="annotation-tooltip">
  <div class="content">
    <blockquote><%= @annotation.referent %></blockquote>
    <p>
      <%= @annotation.body_as_html %>
    </p>

    <%= link_to 'Edit', edit_annotation_path(@annotation) %>
  </div>
</div>
