.talks-edit
  textarea
    width: 60%

.talk-abstract
  a
    background-color: rgba(255,191,13,0.188)
    color: #333333
    padding: 2px

    &:hover
      text-decoration: none
      background-color: rgba(255,195,28,0.6)
