<div class="annotation edit-annotation" data-id="{{id}}">
  <h1 class="title">Editing annotation</h1>

  {{{form}}}

  <a href="{{path}}" data-perspectives-container="#annotation-tooltip">Show</a><div class="back"> | <a href="{{annotations_path}}">Back</a> </div></div>
