<h1>Listing annotations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Talk</th>
      <th>Referent</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{{annotations}}}
  </tbody>
</table>

<br>

<a href="{{new_annotation_path}}">New Annotation</a>
