<div class="annotation" data-id="{{id}}">
  <h3 class="talk-context"><a href="{{talk_href}}">{{talk_title}}</a></h3>
  <a href="{{talk_href}}" class="close">X</a>
  <blockquote>{{referent}}</blockquote>
  <p>
    {{{body}}}
  </p>

  <a href="{{edit_href}}" data-perspectives-target="{{perspectives_target}}">Edit</a>
</div>
