<div class="annotation" data-id="{{id}}">
  <h3 class="talk-context"><a href="{{talk_href}}">{{talk_title}}</a></h3>
  <a href="{{talk_href}}" class="close">X</a>
  <blockquote>{{referent}}</blockquote>
  <p>
    {{{body}}}
  </p>

  {{#edit}}
    <a href="{{edit_href}}" data-perspectives-target="{{perspectives_target}}">Edit</a>
  {{/edit}}

  {{#destroy}}
    <br>
    <a href="{{annotation_href}}" data-method="delete" data-confirm="Are you sure?">Destroy</a>
  {{/destroy}}
</div>
