<tr>
  <td><a href="{{talk_annotation_href}}" data-perspectives-full-page="true">{{referent}}</a></td>
  <td><a href="{{talk_href}}">{{truncated_body}}</a></td>
  <td><a href="{{edit}}">Edit</a></td>
  <td><a href="{{path}}" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Destroy</a></td>
</tr>
